---
title: {{ homer_title }}
subtitle: {{ homer_subtitle }}
documentTitle: "firelink"
logo: "/assets/tools/homer-icons/logo.jpg"

header: true
footer: false
columns: 3
connectivityCheck: true

defaults:
  layout: columns
  colorTheme: auto

theme: default

stylesheet:
 - "assets/custom.css"

colors:
  light:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

  dark:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

services:
  - name: "Media"
    icon: "fas fa-photo-video"
    items:
      - name: "Jellyfin"
        subtitle: "TV and Movies"
        logo: "assets/tools/homer-icons/jellyfin.png"
        url: "http://192.168.1.179:8096/"
        type: "Emby"
        apikey: "{{ jellyfin_to_homer_api_key }}"
        libraryType: "movies"
      - name: "Radarr"
        subtitle: "Movie Indexer"
        logo: "assets/tools/homer-icons/radarr.png"
        url: "http://192.168.1.179:7878/"
        type: "Radarr"
        apikey: "{{ radarr_api_key }}"
      - name: "Sonarr"
        subtitle: "TV Indexer"
        logo: "assets/tools/homer-icons/sonarr.png"
        url: "http://192.168.1.179:8989/"
        type: "Sonarr"
        apikey: "{{ sonarr_api_key }}"

  - name: "Services"
    icon: "fas fa-stream"
    items:
      - name: "Deluge"
        subtitle: "Torrent Client"
        logo: "assets/tools/homer-icons/deluge.png"
        url: "http://192.168.1.179:8112/"
      - name: "Prowlarr"
        subtitle: "Indexer Manager"
        logo: "assets/tools/homer-icons/prowlarr.png"
        url: "http://192.168.1.179:9696/"
        type: "Prowlarr"
        apikey: "{{ prowlarr_api_key }}"
      - name: "Bazarr"
        subtitle: "Subtitle Indexer"
        logo: "assets/tools/homer-icons/bazarr.png"
        url: "http://192.168.1.179:6767/"

  - name: "System"
    icon: "fas fa-cog"
