---
title: {{ homer_title }}
subtitle: {{ homer_subtitle }}
documentTitle: "firelink"
logo: "/assets/tools/homer-icons/logo.jpg"

header: true
footer: false
columns: 4
connectivityCheck: true

defaults:
  layout: columns
  colorTheme: auto

theme: default

stylesheet:
 - "assets/custom.css"

colors:
  light:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

  dark:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

services:
  - name: "Media"
    icon: "fas fa-photo-video"
    items:
      - name: "Jellyfin"
        logo: "assets/tools/homer-icons/jellyfin.png"
        url: "http://{{ ansible_host }}:8096/"

  - name: "Indexers"
    icon: "fas fa-magnifying-glass"
    items:
      - name: "Prowlarr"
        logo: "assets/tools/homer-icons/prowlarr.png"
        url: "http://{{ ansible_host }}:9696/"
        type: "Prowlarr"
        apikey: "{{ prowlarr_api_key }}"
      - name: "Radarr"
        logo: "assets/tools/homer-icons/radarr.png"
        url: "http://{{ ansible_host }}:7878/"
        type: "Radarr"
        apikey: "{{ radarr_api_key }}"
      - name: "Sonarr"
        logo: "assets/tools/homer-icons/sonarr.png"
        url: "http://{{ ansible_host }}:8989/"
        type: "Sonarr"
        apikey: "{{ sonarr_api_key }}"
      - name: "Bazarr"
        logo: "assets/tools/homer-icons/bazarr.png"
        url: "http://{{ ansible_host }}:6767/"

  - name: "Services"
    icon: "fas fa-stream"
    items:
      - name: "Deluge"
        logo: "assets/tools/homer-icons/deluge.svg"
        url: "http://{{ ansible_host }}:8112/"
      - name: "Syncthing"
        logo: "assets/tools/homer-icons/syncthing.svg"
        url: "http://{{ ansible_host }}:8384/"

  - name: "System"
    icon: "fas fa-cog"
    items:
      - name: "Router"
        logo: "assets/tools/homer-icons/tp-link.png"
        url: "http://192.168.1.1/"
      - name: "Portainer"
        logo: "assets/tools/homer-icons/portainer.svg"
        url: "http://{{ ansible_host }}:9000/"
      - name: "Ngnix"
        logo: "assets/tools/homer-icons/nginx.png"
        url: "http://{{ ansible_host }}:40081/"
